# Editors / IDEs
.idea/
.vscode/
*.*sw*

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Mac fs
*.DS_Store

# Build files
build

# Environment files
*.env
!example.env

# Sample files
samples/

# Log files
logs/
